
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-header">
                            <h1>Our Products</h1>
                        </div>
                    </div>
                    <?php
                    foreach($products as $product){
                    ?>
                        <div class="col-md-4">
                            <div class="product-box text-center">
                                <div class="product-box__image">
                                    <a href="product.php?id=<?php echo $product['id']; ?>">
                                        <img src="uploads/<?php echo $product['image']; ?>" class="img-responsive" alt="<?php echo $product['title']; ?>">
                                        <span><i class="fa fa-star"></i> Product Info</span>
                                    </a>
                                </div>
                                <div class="product-box__title">
                                    <h2><?php echo $product['title']; ?></h2>
                                </div>
                                <div class="product-box__desc">
                                    <p><?php echo $product['description']; ?></p>
                                </div>
                                <div class="product-box__price">
                                    <span><?php echo $product['price']; ?><sup>EGP</sup></span>
                                </div>
                                <a href="product.php?id=<?php echo $product['id']; ?>" class="btn btn-lg btn-success"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                            </div>
                        </div>
                    <?php 
                    }
                    ?>
                </div>
            </div>
        </div>